.about {

  @include mq(noDesk){
    display: none;
  }
  &__title {
    margin-bottom: 32px;
    max-width: 740px;
    @include block-center;
    text-align: center;
    @include mq(tab-only){
      color: red;

    }
  }

  &__list {
    @include card-set;
    margin-bottom: 55px;
  }
  &__item {
    @include card-item;
    position: relative;
    padding-left: 120px;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 110px;
      height: 110px;
      border-radius: 50%;
    }
    @include mq(tab){
      @include card-item(3);

    }
    $colors: red, green, blue, yellow;
    $index: 1;

    @each $color in $colors {
      &:nth-child(4n + #{$index}) {
        &::before {
          background-color: $color;
        }
        $index: $index + 1;
      }
    }

    // @for $i from 1 to 4
    @for $i from 1 through 3 {
      &:nth-child(3n + #{$i}){
        &::before{
          background-image: url(../images/icon-#{$i}.svg);
        }
      }
    }
  }
  &__text {
    margin-bottom: 70px;
    max-width: 730px;
    @include block-center;
    text-align: center;
  }

  &__item-title {
    margin-bottom: 12px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    @include block-center;
    max-width: 200px;
  }
}
