.header {
  position: absolute;
  top: 0;
  left: 0;
  color: $white-text-cl;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);

  .contact__list {
    margin-left: auto;
  }
}

.header .logo {
  margin-right: 50px;
}

.header-conteiner {
  display: flex;
  align-items: center;
}
