.hero {
  padding-top: 319px;
  padding-bottom: 335px;
  text-align: center;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: $white-text-cl;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: calc(64 / 48);
  margin-bottom: 50px;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  margin-bottom: 20px;
}