.project-content {
  padding: 15px;
  border: 1px solid gray;
  border-top: none;
}

.project-list {
  --card-item: 4;
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 15px;
  background-color: $accent-cl;
  opacity: 0;
  color: $white-text-cl;
  transition: opacity $transition, transform $transition;
  display: flex;
  align-items: center;
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}
