.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 10px;
  position: relative;
  transition: color $transition;
}

.nav-link:hover,
.nav-link:focus {
  color: $accent-cl;
}

.nav-link:hover::after,
.nav-link:focus::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $accent-cl;
}
