.section-title {
	font-size: 36px;
	line-height: 1.74;
	margin-bottom: 30px;
	@include mq(desk) {
		margin-bottom: 50px;
		
	
		}
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;
	@include mq(desk){
		padding-top: 100px;
		padding-bottom: 100px;

	}
}