:root {
  --card-gap: 30px;
  --card-item: 3;
}
$grey-text-cl: #999999;
$back-text-cl: #323232;
$white-text-cl: #ffffff;
$accent-cl: #4985ff;
$light-bg-cl: #f6f6f8;
$gray-border: #e0e0e0;
$radius-lg: 30px;
$radius-sm: 10px;
$transition: 250ms linear;
$violet-color: #504dc2;
